.line {
  border: 12px solid #006;
}

.flex {
  display: flex;
}

.button {
  width: 150px;
  height: 60px;
  background-color: #006;
  color: #FFF;
}

.widebutton {
  width: 300px;
  height: 60px;
  background-color: #006;
  color: #FFF;
}

.widewidebutton {
  width: 450px;
  height: 60px;
  background-color: #006;
  color: #FFF;
}

.widewidebutton2 {
  width: 450px;
  height: 60px;
  background-color: #0A0;
  color: #FFF;
}
